#block {
  margin-top: 40%;
  width: 95%;
  margin-right: 2%;
  margin-left: 2%;
}
#presentaion {
  margin-top: 20%;
  text-align: center;
}
body {
  background-image: url("bg.jpg");
}
#blockn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=135, Strength=12);
  zoom: 1;
}
#map {
  /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
  min-height: 600px;
  height: 80%;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 20; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#back {
  background-color: white;
  text-decoration: none;
  width: 330%;
}
#buut {
  width: 100%;
  text-decoration: none;
}
